.card{
    border-color: 10px red;
    margin-top: 20px;
    padding: 30px;
}
#icon{
    color: #FF7F3F;
    display: inline-block;
}
.assignment_1{
    display: inline-block;
    color: #FF7F3F;
    margin-left: 30px;
}
.teacher_name{
    font-size: 14px;
    font-family: Roboto,Arial,sans-serif;
    color: #5f6368;
    margin: 3px auto 0 65px;
}
.hr_line{
    color: #F6D860;
    opacity: 0.8;
}
#read-more-btn{
    color: #FF7F3F;
}
#assignment-work{
    width: 500px;
    margin-bottom: 25px;
    color: #FF7F3F;
    border-color: #FF7F3F;
}
.details-card{
    width: 60%;
    display: inline-block;
}
.submit-card{
    display: inline-block;
    width: auto;
    vertical-align: top;
    margin-left: 35px;
    width: 36%;
    height: auto;
}
#add-work-btn{
    width: 80%;
    margin: 10px auto 10px auto;
    display: block;
    border-color: #FF7F3F;
}
#submit-btn{
    width: 70%;
    margin: 16px auto 10px auto;
    display: block;
    background-color: #FF7F3F;
}
.peopleicon{
    color: gray;
    display: inline-block;
}
.classcomment{
    display: inline-block;
    margin-left: 10px;
}
.accounticon{
    color: blue;
}
#sent-btn{
    background-color: #FF7F3F;
    color: white;
}