.card{
    border-color: 10px red;
    margin-top: 20px;
    padding: 30px;
}
#icon{
    color: #4285f4;
    display: inline-block;
}
.assignment_1{
    display: inline-block;
    color: #2b79f7;
    margin-left: 30px;
}
.teacher_name{
    font-size: 14px;
    font-family: Roboto,Arial,sans-serif;
    color: #5f6368;
    margin: 3px auto 0 65px;
}
.hr_line{
    color: #4285f4;
    opacity: 0.8;
}
#assignment-work{
    width: 500px;
    margin-bottom: 25px;
}
.details-card{
    width: 60%;
    display: inline-block;
}
.submit-card{
    display: inline-block;
    width: auto;
    vertical-align: top;
    margin-left: 35px;
    width: 36%;
    height: auto;
}
#add-work-btn{
    width: 100%;
    margin-top: 10px;
}
#submit-btn{
    width: 100%;
    margin: 16px 0 10px 0;
}
.peopleicon{
    color: gray;
    display: inline-block;
}
.classcomment{
    display: inline-block;
    margin-left: 10px;
}
.accounticon{
    color: blue;
}
